<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetUpMasterUsers</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpMasterUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpMasterOrganization</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpMasterOrganization</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpOrgLocation</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpOrgLocation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpOrgSite</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpOrgSite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpSiteEmployees</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpSiteEmployees</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpEmployeeSiteHistory</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpEmployeeSiteHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpMasterProjectPhases</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpMasterProjectPhases</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpMasterPhaseTasks</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpMasterPhaseTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpMasterProjects</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpMasterProjects</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpProjectsPhases</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpProjectsPhases</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpProjectsPhaseTasks</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpProjectsPhaseTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpEmployeeTasks</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpEmployeeTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpEmployeeTimeSheet</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpEmployeeTimeSheet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUpEmployeeVacation</servlet-name>
    <servlet-class>com.servlet.msets1.SetUpEmployeeVacation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewMasterUsers</servlet-name>
    <servlet-class>com.servlet.msets1.ViewMasterUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMasterOrganization</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateMasterOrganization</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOrgLocation</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateOrgLocation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOrgSite</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateOrgSite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSiteEmployees</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateSiteEmployees</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeSiteHistory</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateEmployeeSiteHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMasterProjectPhases</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateMasterProjectPhases</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMasterPhaseTasks</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateMasterPhaseTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMasterProjects</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateMasterProjects</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProjectsPhases</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateProjectsPhases</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProjectsPhaseTasks</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateProjectsPhaseTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeTasks</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateEmployeeTasks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeTimeSheet</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateEmployeeTimeSheet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployeeVacation</servlet-name>
    <servlet-class>com.servlet.msets1.UpdateEmployeeVacation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMasterOrganization</servlet-name>
    <servlet-class>com.servlet.msets1.DeleteMasterOrganization</servlet-class>
  </servlet>





<servlet-mapping>
    <servlet-name>SetUpMasterUsers</servlet-name>
    <url-pattern>/SetUpMasterUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpMasterOrganization</servlet-name>
    <url-pattern>/SetUpMasterOrganization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpOrgLocation</servlet-name>
    <url-pattern>/SetUpOrgLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpOrgSite</servlet-name>
    <url-pattern>/SetUpOrgSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpSiteEmployees</servlet-name>
    <url-pattern>/SetUpSiteEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpEmployeeSiteHistory</servlet-name>
    <url-pattern>/SetUpEmployeeSiteHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpMasterProjectPhases</servlet-name>
    <url-pattern>/SetUpMasterProjectPhases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpMasterPhaseTasks</servlet-name>
    <url-pattern>/SetUpMasterPhaseTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpMasterProjects</servlet-name>
    <url-pattern>/SetUpMasterProjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpProjectsPhases</servlet-name>
    <url-pattern>/SetUpProjectsPhases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpProjectsPhaseTasks</servlet-name>
    <url-pattern>/SetUpProjectsPhaseTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpEmployeeTasks</servlet-name>
    <url-pattern>/SetUpEmployeeTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpEmployeeTimeSheet</servlet-name>
    <url-pattern>/SetUpEmployeeTimeSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUpEmployeeVacation</servlet-name>
    <url-pattern>/SetUpEmployeeVacation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewMasterUsers</servlet-name>
    <url-pattern>/ViewMasterUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMasterOrganization</servlet-name>
    <url-pattern>/UpdateMasterOrganization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrgLocation</servlet-name>
    <url-pattern>/UpdateOrgLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrgSite</servlet-name>
    <url-pattern>/UpdateOrgSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSiteEmployees</servlet-name>
    <url-pattern>/UpdateSiteEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeSiteHistory</servlet-name>
    <url-pattern>/UpdateEmployeeSiteHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMasterProjectPhases</servlet-name>
    <url-pattern>/UpdateMasterProjectPhases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMasterPhaseTasks</servlet-name>
    <url-pattern>/UpdateMasterPhaseTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMasterProjects</servlet-name>
    <url-pattern>/UpdateMasterProjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProjectsPhases</servlet-name>
    <url-pattern>/UpdateProjectsPhases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProjectsPhaseTasks</servlet-name>
    <url-pattern>/UpdateProjectsPhaseTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeTasks</servlet-name>
    <url-pattern>/UpdateEmployeeTasks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeTimeSheet</servlet-name>
    <url-pattern>/UpdateEmployeeTimeSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeVacation</servlet-name>
    <url-pattern>/UpdateEmployeeVacation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMasterOrganization</servlet-name>
    <url-pattern>/DeleteMasterOrganization</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.msets1.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
